html,body {
  height: 100%;
}

/* wrapper for page content to push down footer */
.page-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* negative indent footer by its height */
  margin: 0 auto -120px;
  /* pad bottom by footer height */
  padding: 0 0 120px;
}

/* set the fixed height of the footer here */
#footer {
  height: 120px;
  background-color: #282830;
  border:0 solid #F2CE16;
  border-top-width: 1px;
  margin-top:50px;
  z-index:100;
}

#footer > .container {
  padding: 20px;
}

#footer a{
  color:#cccccc;
  border-bottom: 0px;
}

#footer a:hover {
  color:#ffffff;
  margin-left:-2px;
  text-decoration:none;
}
blockquote {
border-left-color: #F2CE16;
}

.red {
  color: #D35F6E
}

li {
  color: #F2CE16
}

li span {
  color: #f9f9f9
}

body {
  padding-top: 51px; 
  background: #32323C;
  color: #f9f9f9;
}

 a {
  color:#f9f9f9;
  text-decoration: none;
  border-bottom: 1px dotted #F2CE16;
}

a:hover{
 color: #F2CE16;
 text-decoration: none; 
} 

h1 {
  font-size: 80px;
  color:#D35F6E;
}

h2  {
    padding-top: 40px;
  color:#f9f9f9;
}
h3  {
    padding-top: 20px;

    color:#f9f9f9;
}
h4  {
    padding-top: 10px;
  color:#f9f9f9;
}

.text-center {
  padding-top: 20px;
}

.break{
  margin-right: 10px;
}

.fa {
  color: #F2CE16;
}

#top a{
  color: #cccccc;
  text-decoration: none;
}
#top a:hover{
  color: #cccccc;
  text-decoration: none;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  z-index:-1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}



#sidebar-nav a{
  color:#cccccc;
  text-decoration: none;
  border-bottom: 0px;
  padding-bottom: 0px;
}

#sidebar-nav a:hover{
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}
/* nested nested links */

.bs-docs-sidebar .nav .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    font-size: 12px;
}



/* all links */
.bs-docs-sidebar .nav>li>a {
    /*add trasnparent border */
    border-left: 2px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    border-bottom: 0px;
    padding-bottom: 0px;              
    text-decoration: none;          
    background-color: transparent;  
    border-left: 2px solid #F2CE16; 
}

/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
/* nested active links */
.bs-docs-sidebar .nav .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav .nav>.active:focus>a {
    font-weight: 400;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

/*
#sidebar-nav .affix {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar-nav .affix-bottom {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar-nav .nav {
  width: 95%;
}
#sidebar-nav li {
  border:0 #1e1e1e solid;
}
#sidebar-nav li a {
  padding-left:1px;
}
#sidebar-nav li a:hover {
  background-color:#222222;
  color:#ffffff;
}

/* collapsed sidebar styles */
/*@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    background-color:#32323C;
    padding-top:0;
  }
  #sidebar .nav>li {
    color: #ddd;
    background: linear-gradient(#32323C, #32323C);
    border-top: 1px solid #32323C;
    border-bottom: 1px solid #32323C;
    padding-left:10px;
  }
  #sidebar .nav>li:first-child {
    border-top:0;
  }
  #sidebar .nav>li>a {
    color: #ddd;
  }
  #sidebar .nav>li>a>img {
    max-width: 14px;
  }
  #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#32323C, #32323C);
    color: #fff;  
  }
  #sidebar .nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  #sidebar .nav a:hover .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
  }*/
}

